<ul class='food-results'>
	<% facade.get_foods.each do |food| %>
		<li class='result-ndbnum'><%= food.ndbnum %></li>
		<li class='result-name'><%= food.name %></li>
		<li class='result-group'><%= food.group %></li>
		<li class='result-datasrc'><%= food.datasrc %></li>
		<li class='result-manufacturer'><%= food.manufacturer %></li>
	<% end %>
</ul>
